<!DOCTYPE html>
{% extends "first_app/base.html"%}
{%block body_block %}
    
        <div class="position-absolute top-50 start-50 translate-middle">
            <div class="border border-4 border-opacity-25 rounded-4">
                <div class="container px-10 text-center">
                <br><h1>Welcome</h1> <br>
                    <br>
                    <br>
                    <br>
                <h2 class="text-success"><a class="btn btn-outline-success btn-lg" role="link" href="{% url 'first_app:Login' %}">Login</a> into Existing Account <br></h2>
                    <p></p>
                <h2 class="text-info">or <a class="btn btn-outline-info btn-lg" role="link" href="{% url 'first_app:Sign_up' %}">Sign up</a> for new Account </h2>
            </div>
        </div>
    </div>
{% endblock %}